/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles and layout */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: local(Roboto), local(Roboto-Regular),
    url(./assets/fonts/roboto-regular-webfont.woff2) format(woff2);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: local(Roboto), local(Roboto-Bold),
    url(./assets/fonts/roboto-bold-webfont.woff2) format(woff2);
}

:root {
  --blue: #0284c7;
  --yellow: #fbbf24;
  --slate300: #cbd5e1;
  --slate500: #64748b;
  --slate950: #020617;
  --white: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100svh;
}

*:focus-visible {
  outline: 2px solid var(--slate950);
  outline-offset: 2px;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: max-content 2fr 1fr;
  grid-template-rows: auto 1fr;
}

/* Sidebar */
.sidebar {
  grid-row: 1 / 3;
  background-color: var(--blue);
  color: var(--white);
  padding: 16px 32px 16px 16px;
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title__icon {
  width: 2.25rem;
}

.title__text {
  font-size: 2rem;
}

.nav__list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav__list-item:nth-child(6) {
  margin-bottom: 2rem;
}

.nav__link {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  margin: 0.25rem 0.5rem;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:active {
  color: var(--yellow);
}

.nav__link:focus-visible {
  outline-color: var(--white);
}

.nav__icon {
  height: 1.25rem;
  fill: var(--white);
}

.nav__link:active .nav__icon {
  fill: var(--yellow);
}

/* SVG icons in header and main content  */
.icon {
  height: 1.5rem;
}

.cta .icon {
  fill: var(--slate950);
}
.cta:hover .icon {
  fill: var(--slate500);
}

.cta:active .icon {
  fill: var(--blue);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header */
.header {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: minmax(13rem, 3fr) minmax(10rem, 2fr);
  gap: 16px;
  align-items: center;
  background-color: var(--white);
  color: var(--slate950);
  padding: 16px 24px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-bar__input {
  flex: 1;
  background-color: var(--slate300);
  border-color: transparent;
  border-radius: 15px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.25rem;
}

.account__notifications {
  flex-shrink: 0;
}

.account__user {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--slate950);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account__user:hover {
  text-decoration: underline;
}

.account__user:active {
  color: var(--blue);
}

.account__avatar {
  height: 2.5rem;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.2;
}

.greeting__avatar {
  height: 4rem;
}

.greeting__hi {
  font-weight: 700;
}

.greeting__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.actions__list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
}

.actions__list-item {
  flex-grow: 1;
}

.actions__link {
  display: block;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
}

.actions__link:hover {
  text-decoration: underline;
}

.actions__link:active {
  color: var(--yellow);
}

/* Main content */
.main-content {
  background-color: var(--slate300);
}

/* Footer */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: var(--slate500);
  padding: 8px;
}
.attribution a {
  color: inherit;
}
